<nav class="navbar nav-main ">
    <a class="navbar-brand" href="/"><img src="/images/owl_logo_light.png" alt="logo" class="logo-nav"></a>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/ducks">Ducks</a>
        <a href="/data">Data</a>
        <a href="/settings">Settings</a>
    </div>
</nav>
