<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div id="ducks">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
		      	<h4 id="main-text">Ducks in your network</h4>
		      	
		      	<div class="ducks-list">
		      		
		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">D</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>

		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">E</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>


		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">F</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>


		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">G</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>


		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">H</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">I</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>


		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">J</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>


		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">K</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">L</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">M</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">N</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">O</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>



		      		<!-- This is a single duck elemnt.  do things to this. -->
		      		<div class="duck">
		      			<div class="inner">
			      			<div class="container-fluid">
				      			<div class="row">
				      				<div class="col-sm-7 identity">
					      				<div class="icon"><img src="/images/duck_dark.png" alt="data">P</div>
					      			</div>
					      			<div class="col-sm-5 status">
					      				<p>offline</p>
					      			</div>
				      			</div>
				      			<div class="row">
				      				<div class="col-sm-12">
				      					<p class="mid">Message ID: LCG51G85</p>
				      					<p class="payload">	Test*Test* Lorem ipsum dolor</p>
				      				</div>
				      			</div>
				      			<p class="updated">Updated: 14:17 5/11/2020</p>
				      		</div>
			      		</div>
			      	</div>





		      	</div>
		      </div>
			</div>
		</div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
