<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div id="ducks">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
		      	<h1>Ducks Page</h1>
		      	
		      	<div class="ducks-list">
		      		<div class="duck">
		      			<div class="container-fluid">
			      			<div class="row">
			      				<div class="col-sm-8 identity">
				      				<div class="icon">asdf</div>
				      			</div>
				      			<div class="col-sm-4 status">
				      				<p>offline</p>
				      			</div>
			      			</div>
			      		</div>
		      		</div>
		      	</div>
		      </div>
			</div>
		</div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
