<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
    <div class="row">
      <div class="col-sm-4 main-box">
        <div class="col-12 main-box-detail">
          <img src="/images/data.png" alt="data" class="icon-main">
          <h5>DATA</h5>
        </div>

      </div>
      <div class="col-sm-4 main-box">
        <div class="col-12 main-box-detail">
          <img src="/images/duck.png" alt="data" class="icon-main">
          <h5>DUCKS</h5>
        </div>
      </div>
      <div class="col-sm-4 main-box">
        <div class="col-12 main-box-detail">
          <img src="/images/settings.png" alt="data" class="icon-main">
          <h5>SETTINGS</h5>

        </div>
      </div>

    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
