<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div id="settings">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
		      	<h1>Settings Page.  Why is there a settings page?</h1>   
		      </div>
		  </div>
	    </div>
	</div>
    <%- include partials/footer.ejs %>
  </body>
</html>
