<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div class="container">
	    <div class="row">
	      <div class="col-sm-12">
	      	<h1>Settings Page</h1>
	      	<table class="table table-hover">
	      		<thead>
	      			<th>Header1</th>
	      			<th>Header2</th>
	      			<th>Header3</th>
	      		</thead>
	      		<tbody>
	      			<tr>
	      				<td>Data</td>
	      				<td>Thing2</td>
	      				<td>Thing3</td>
	      			</tr>
	      			<tr>
	      				<td>Data</td>
	      				<td>Thing2</td>
	      				<td>Thing3</td>
	      			</tr>
	      			<tr>
	      				<td>Data</td>
	      				<td>Thing2</td>
	      				<td>Thing3</td>
	      			</tr>
	      		</tbody>
	      	</table>        
	      </div>
	  </div>
    </div>
    <%- include partials/footer.ejs %>
  </body>
</html>
