<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
    <%- include partials/nav.ejs %>
  </head>
  <body>
  	<div id="settings">
	  	<div class="container">
		    <div class="row">
		      <div class="col-sm-12">
		      	<h1>Settings Page.  Why is there a settings page?</h1>
<pre>
                                  _______
                           _,,ad8888888888bba,_
                        ,ad88888I888888888888888ba,
                      ,88888888I88888888888888888888a,
                    ,d888888888I8888888888888888888888b,
                   d88888PP"""" ""YY88888888888888888888b,
                 ,d88"'__,,--------,,,,._ ""Y8888888888888,
                ,8II-'"                  "```IIII8888888888,
               ,I88'                          `Y88III8888888,
             ,II88I                            `Y88888I888888,
            ,II888'                              `888888I8888b
           ,II8888                                Y888888I8888,
           II88888                                `8888888I888b
           II88888,    ---.      ..-----           88888888I888
           II88888I   _,,_ `.  .'   _,,_           88888888I888,
           II88888'  <'(@@> |  |   <'(@@>         ,888888888I88I
          ,II88888    `"""  |  |    `"""          d888888888I888
          III88888,            `                  8888888888I888,
         ,III88888I                               8888888888I888I
         III888888I        ,   ',                 88888888888I888
         II88888888,      (_    _)                88888888888I888,
         II88888888I        `--'                 ,88888888888I888b
         ]I888888888,                           ,P88888888888I8888,
         II888888888I    "Y88bd888P"          ,d" 88888888888I8888I
         II8888888888b     `"""""          _,8"  ,88888888888I88888
         II888888888888a                _,P"'   ,d88888888888I88888
         `II8888888888888b,          _,d"'    ,aP"88888888888I88888
          II888888888888888ba,__,,ad""    _,aP"   8888888888I888888,
          `II88888888888888888b"ba,,,,aadP"'      I888888888I888888b
           `II88888888888888888  `""""'           I888888888I8888888
            `II8888888888888888                   `888888888I8888888,
             II8888888888888888,                   Y88888888I8888888b,
            ,II8888888888888888b                   `88888888I88888888b,
            II888888888888888P"I                    88888888I8888888888,
            II888888888888P"   `                    Y8888888I88888888888b,
           ,II888888888P"                           `8888888I8888888888888b,
           II888888888'                              888888I8888888888888888b
          ,II888888888                              ,888888I88888888888888888
         ,d88888888888                              d888888I8888888888ZZZZZZZ
      ,ad888888888888I                              8888888I8888ZZZZZZZZZZZZZ
    ,d888888888888888'                              888888IZZZZZZZZZZZZZZZZZZ
  ,d888888888888P'8P'                               Y888ZZZZZZZZZZZZZZZZZZZZZ
 ,8888888888888,  "                                 ,ZZZZZZZZZZZZZZZZZZZZZZZZ
d888888888888888,                                ,ZZZZZZZZZZZZZZZZZZZZZZZZZZZ
888888888888888888a,      _                    ,ZZZZZZZZZZZZZZZZZZZZ888888888
888888888888888888888ba,_d'                  ,ZZZZZZZZZZZZZZZZZ88888888888888
8888888888888888888888888888bbbaaa,,,______,ZZZZZZZZZZZZZZZ888888888888888888
88888888888888888888888888888888888888888ZZZZZZZZZZZZZZZ888888888888888888888
8888888888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888
888888888888888888888888888888888888888ZZZZZZZZZZZZZZ888888888888888888888888
8888888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888888
88888888888888888888888888888888888ZZZZZZZZZZZZZZ8888888888888888888888888888
8888888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888 Normand  88
88888888888888888888888888888888ZZZZZZZZZZZZZZ8888888888888888888 Veilleux 88
8888888888888888888888888888888ZZZZZZZZZZZZZZ88888888888888888888888888888888
</pre>
		      </div>
		  </div>
	    </div>
	</div>
    <%- include partials/footer.ejs %>
  </body>
</html>
