.nav-main{
    background-color: #05172d;
}
.nav-link{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.logo-nav{
    width: 3em;
    margin-right: 1em;
}

.main-box{
    padding: 3.4em;
}

.main-box-detail{
    background-color: #05172d;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 0;
}

.main-box-detail:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.main-box-detail h5{
    font-weight: 700;
    text-transform: uppercase;
}

.icon-main{
    width: 4em;
    padding-bottom: 1em;
}

#logo-dms-footer{
    width: 8em;
}

.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}
