body{
    font-family: Roboto, sans-serif;
    background: #eee;
}


.main-box-detail {
	position: relative;
}

.main-box-detail a {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
	text-decoration: none;
	color: white;
	padding: 3em;
}



/*  DATA PAGE */

#data {
	padding: 4em 0;
}

#data #main-text{
	border-bottom: 5px solid #05172d;
	width: 13em;
	font-weight: 600;
}

#data .table {
	background: #fff;
}

#data .table tbody tr:hover {
	background: rgba(0,0,0,.035);
}

#data input {
	width: 100%;
}



/* DUCKS PAGE */

#ducks {
	padding: 4em 0;
}

#ducks #main-text{
	border-bottom: 5px solid #05172d;
	width: 13em;
	font-weight: 600;
}
#ducks .ducks-list {
	margin-left: -.75em;
	margin-right: -.75em;
}

#ducks .ducks-list .duck {
	float: left;
	display: block;
	width: 33%;
	padding: .75em;
}

#ducks .ducks-list .duck .inner {
	padding: 1em 0;
	background: #fff;
	border-radius: 4px;
	cursor: pointer;
}


#ducks .ducks-list .duck .icon.offline {
	font-weight: 700;
	line-height: 1.25em;
	padding: .25em .35em .15em;
	background: rgba(255,87,87,.26);
	border: 1px solid #ff5757;
	border-radius: 5px;
	display: inline-block;
}
#ducks .ducks-list .duck .icon.online {
	font-weight: 700;
	line-height: 1.25em;
	padding: .25em .35em .15em;
	background: rgba(127, 255, 0, 0.5);
	border: 1px solid chartreuse;
	border-radius: 5px;
	display: inline-block;
}

#ducks .ducks-list .duck .icon img {
	display: inline-block;
	height: 1em;
	margin: 0 .15em 0 0;
	position: relative;
	top: -.1em;
}

#ducks .ducks-list .duck .status {
	margin-bottom: .75em;
}
#ducks .ducks-list .duck .status p {
	display: none;
}

#ducks .ducks-list .duck .status.offline p {
	margin: 0;
	text-transform: uppercase;
	color: red;
	font-size: .6em;
	text-align: right;
	line-height: 2.5em;
	display: block;
}
#ducks .ducks-list .duck .status.online  p{
	margin: 0;
	text-transform: uppercase;
	color: chartreuse;
	font-size: .6em;
	text-align: right;
	line-height: 2.5em;
	display: block;
}



#ducks .ducks-list .duck .mid {
	font-size: .65em;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0;
}

#ducks .ducks-list .duck .payload {
	font-size: .85em;
	font-weight: 400;
	min-height: 3em;
	word-wrap: break-word
}
#ducks .ducks-list .duck .path {
	font-size: .85em;
	font-weight: 400;
	min-height: 2em;
}

#ducks .ducks-list .duck .updated {
	font-size: .5em;
	font-weight: 300;
	margin: 0;
}


#ducks .ducks-list .duck:hover .inner {
	background: #191e2d;
	color: #fff;
}

#ducks .ducks-list .duck:hover .inner .icon img {
	filter: invert(1);
}





/* SETTINGS PAGE */

#settings {
	padding: 4em 0;
}

#settings #main-text{
	border-bottom: 5px solid #05172d;
	width: 13em;
	font-weight: 600;

}
#settings .main-info-text{
	padding: 1em;

}

#settings .main-info-text-box{
	background-color: #d4d4d4;
	border-radius: 8px;
	padding: 1em;

}
#settings .main-info {

	padding: 1em;


}

#settings .main-info .settngs-logo{
	width: 12em;
	margin-right: 4em;
}

#settings .main-info-logo{
	background-color: #d4d4d4;
	border-radius: 8px;
	padding: 1em;
}




/*FOOTER*/

#footer-logo{
	width: 8em;
	position: absolute;
	bottom: 10px;
	left: 25px;
}





