body{
    font-family: Roboto, sans-serif;
}


.main-box-detail {
	position: relative;
}

.main-box-detail a {
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: block;
	text-decoration: none;
	color: white;
	padding: 3em;
}



/*  DATA PAGE  */

#data {
	padding: 4em 0;
}